
        <section>
         <h2>Create your own sale</h2>
         <form action="/create-room" method="POST"> 
            <label class="sr-only" for="room-pass">insert a password</label>
            <input type="password" name="password"  id="room-pass" placeholder="Insert a password">
            <button>
                <img src="/images/users-white.svg" alt="enter the room">
               Create room
            </button>
        </form>
        </section>      
    