<section>
    <h2>Enter like participate</h2>
    <form action="/enterroom" method="POST"> 
       <label class="sr-only" for="room-id">Code the sale</label>
       <input name="roomId" type="number" id="room-id" placeholder="Code the sale">
       <button>
           <img src="/images/enter-room.svg" alt="enter the room">
           Entrar na sala
       </button>
   </form>
   </section>

   <div class="separator"> 
   <div></div>
   <div>ou</div>
   <div></div>
   </div>

   <section>
     <h2>Create your own sale, by easy form</h2>
     <a href="/create-pass" class="button outlined">
         <img src="/images/users.svg" alt="create room">
         Criar Sala
     </a>
   </section>