
<div class="no-questions">
    <img src="/images/balon.svg" alt="no questions">
    <p> Nothing questions here...</p>
    <p> Ask your first question and send this <br> room code to others!</p>
</div>
